.navbar {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    background-color: #3a4a6d;

    .darkmode_button {
        height: 60%;
        display: flex;
        padding: 1%;
        margin: 1%;
        justify-content: center;
        align-items: center;
        align-self: center;
        background-color: #272727;
        color: white;
        border: solid 3px black;
        border-radius: 150px;
        transition: all 1s;
        &:hover {
            cursor: pointer;
            background-color: #161616;
        }
    }

    .navbar_ul {
        display: flex;
        min-width: 50%;
        justify-content: space-around;
        height: 100%;

        a {
            width: 100%;
            text-decoration: none;
            background-color: #546997;
            justify-content: center;
            display: flex;
            align-items: center;
            transition: all 1s;
            &:hover {
                background-color: #99bdc9;
                margin: 1%;
                border-radius: 10px;
            }

            li {
                list-style: none;
                color: white;
                font-size: 1.5rem;
            }
        }
    }
}