.cards-container {
    display: grid;
    height: 700vh;
    padding: 1%;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    align-items: center;
    justify-items: center;
    background-color: #161616;

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 80%;
        background-color: white;
        margin-top: 2%;
        padding: 1%;
        gap: 5%;
        border: solid #005c00 5px;
        border-radius: 25px;

        h2 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.5rem;
        }

        p {
            display: flex;
            background-color: #161616;
            color: #005c00;
            height: 8%;
            width: 10%;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
        }

        img {
            display: flex;
            justify-content: center;
            height: 20vh;
            width: 40%;
            object-fit: contain;
        }

        button {
            width: 15%;
            height: 10%;
            background-color: #005c00;
            border: solid black 3px;
            border-radius: 5px;
            transition: all 0.7s;
            &:hover {
                cursor: pointer;
                background-color: #007500;
            }
        }
    }
}