.ofertas-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1%;
    padding: 1%;
    background-color: #161616;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;

    #ofertas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 20%);
        gap: 2%;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5%;
            gap: 1%;
            color: #4b9463;
            background-color: white;
            border-radius: 25px;
            width: 100%;
            max-height: 100%;

            img {
                display: flex;
                max-height: 70%;
                width: auto;
            }

            h3 {
                &::selection {
                    color: #0043a8;
                    background-color: black;
                }
            }

            p {
                display: flex;
                background-color: #161616;
                width: 10%;
                justify-content: center;
                border-radius: 10px;
            }

            button {
                display: flex;
                background-color: #4b9463;
                width: 15%;
                height: 8%;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
                font-size: 1rem;
                transition: all 0.6s;
                &:hover {
                    background-color: #6fee99;
                    cursor: pointer;
                }
            }
        }
    }
}