body {
  height: 100%;
  background: #252525;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
    
  main {
    margin: 1%;
    height: 100%;    
  
    section {
      display: flex;

      .swiper {
        width: 70%;
        height: 50%;
        display: flex;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 250px;
      }

      .swiper-slide img {
        display: flex;
        width: auto;
        height: 40vh;
        object-fit: scale-down;
        border-radius: 30px;
      }
    }
  }
}